*,*::before,*::after {box-sizing:border-box;margin:0;padding:0;}@mixin flexbox(){display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}@mixin inline-flexbox(){display:-webkit-inline-box;display:-webkit-inline-flex;display:-moz-inline-flex;display:-ms-inline-flexbox;display:inline-flex}@mixin flex($values){-webkit-box-flex:$values;-moz-box-flex:$values;-webkit-flex:$values;-ms-flex:$values;flex:$values}@mixin flex-direction($direction){-webkit-flex-direction:$direction;-moz-flex-direction:$direction;-ms-flex-direction:$direction;flex-direction:$direction}@mixin flex-wrap($wrap){-webkit-flex-wrap:$wrap;-moz-flex-wrap:$wrap;-ms-flex-wrap:$wrap;flex-wrap:$wrap}@mixin flex-flow($flow){-webkit-flex-flow:$flow;-moz-flex-flow:$flow;-ms-flex-flow:$flow;flex-flow:$flow}@mixin order($val){-webkit-box-ordinal-group:$val;-moz-box-ordinal-group:$val;-ms-flex-order:$val;-webkit-order:$val;order:$val}@mixin flex-grow($grow){-webkit-flex-grow:$grow;-moz-flex-grow:$grow;-ms-flex-grow:$grow;flex-grow:$grow}@mixin flex-shrink($shrink){-webkit-flex-shrink:$shrink;-moz-flex-shrink:$shrink;-ms-flex-shrink:$shrink;flex-shrink:$shrink}@mixin flex-basis($width){-webkit-flex-basis:$width;-moz-flex-basis:$width;-ms-flex-basis:$width;flex-basis:$width}@mixin justify-content($justify){-webkit-justify-content:$justify;-moz-justify-content:$justify;-ms-justify-content:$justify;justify-content:$justify;-ms-flex-pack:$justify}@mixin align-content($align){-webkit-align-content:$align;-moz-align-content:$align;-ms-align-content:$align;align-content:$align}@mixin align-items($align){-webkit-align-items:$align;-moz-align-items:$align;-ms-align-items:$align;align-items:$align}@mixin align-self($align){-webkit-align-self:$align;-moz-align-self:$align;-ms-align-self:$align;align-self:$align}.has-padding-top{padding-top:20px}.has-padding-bottom{padding-bottom:20px}.has-margin-top{margin-top:20px}.has-margin-bottom{margin-bottom:20px}.nudge-top{margin-top:10px}.nudge-bottom{margin-bottom:10px}.hidden{display:none !important;}
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap');

/* Variables
============================================ */

$primary: #f0f0f0;
$bg: #9146FF;

/* Basics
============================================ */

html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: $bg;
  overflow-x: hidden;
}

body {
  color: $primary;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  width: calc(100% - 2rem);
  padding: 0.5rem 1rem;
}

main.container {
  margin-top: 1.5rem;
}

button {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: $primary;
  border: 0;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.warning {
  @include flexbox();
  align-items: (center);
  margin-bottom: 1.5rem;
  padding: 0 0.5rem 0 0;
  background: crimson;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  &:before {
    content: '!';
    background-color: rgba(255,255,255,0.3);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

/* Header.js
============================================ */

header {
  background:transparent;
  padding: 1rem;
  line-height: 1;
  color: $primary;

  .container {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
  }
}

.logo-container {
  @include flexbox();
  font-size: 16px;
}

.logo {
  max-height: 32px;
  margin-right: 0.5rem;
}

.link-container img {
  height: 48px;
  width: 175px;
}

/* Uploader.js
============================================ */

.uploader {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  height: 350px;
  background: white;
  color: $bg;
  border-radius: 5px;

  input {
    position: absolute;
    top: -50rem;
    opacity: 0;
  }

  label {
    cursor: pointer;
  }
}

.upload-icon {
  height: 48px;
  margin-bottom: 1rem;
}
